doctype html
html
  head
    block head
      title House Points Scoreboard
      meta(name="viewport" content="width=device-width, initial-scale=1")
      script(type="text/javascript" src="/js/sizzle.js")
      script(type="text/javascript" src="/js/primus.io.js")
  body
    block content
    
