doctype html
html
  title House Points Scoreboard
  link(rel="stylesheet" type="text/css" href="/css/main.css")
  script(type="text/javascript" src="/js/main.js")
  body
    each house in houses
      h1=house.name
      h3=house.points
    h1 Pings
    ul#pings
