extends ./includes/default.jade

block append head
  script(type="text/javascript" src="/js/main.js")
  link(rel="stylesheet" type="text/css" href="/css/main.css")

block content
  each house in houses
    .house(data-house-id=house.id)
      .housename=house.name
      .housepoints=house.points
      img.houseimg(src='/img/#{house.name.toLowerCase()}.svg')
