doctype html
html
  title House Points Scoreboard
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" type="text/css" href="/css/main.css")
  script(type="text/javascript" src="/js/sizzle.js")
  script(type="text/javascript" src="/js/primus.js")
  script(type="text/javascript" src="/js/main.js")
  body
    each house in houses
      .house(data-house-id=house.id)
        .housename=house.name
        .housepoints=house.points
